html{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}
.card-info__title{
    margin: 30px auto;
    font-size: 36px;
    line-height: 46px;
    width: 300px;
}
.card-info__wrap{
    margin: auto;
    width: min-content;
}
.card-info__input-title{
    margin: 0 0 5px 0;
}
.card-info__input-block{
    margin: 10px auto;
    width: min-content;
}
.card-info__input{
    width: 370px;
    border: 1px solid #CECECE;
    font-size: 24px;
    line-height: 28px;
    height: 40px;
}
.invalid-input{
    border: 1px solid #E30000;
}
.button{
    border:none;
    outline:none;
    margin: 10px 0 20px 0;
    padding: 0 15px;
    width: 130px;
    cursor: pointer;
    background: #3C1491;
    border-radius: 1px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    height: 40px;
    box-sizing: border-box;
}
.input-error__wrap{
    position: absolute;
    height: 50px;
    width:max-content;
    left:379px;
    top:-5px;
}
.input-error__block::before,.input-error__block::after {
    position: absolute;
    content:' ';
    display: inline-block;
    box-sizing: border-box;
    width: 19px;
    height: 18px;
    border:9px solid;
}
.input-error__block::after{
    bottom: 16px;
    border-color:transparent white transparent transparent;
    left:-17px;
}
.input-error__block::before{
    top: 16px;
    border-color:transparent #0000001a transparent transparent;
    left:-18px;
}
.input-error__block{
    display: inline-block;
    border: 1px solid #0000001a;
    border-radius: 2px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.input-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
}
.input-error__message{
    margin: 15px 20px;
    color: #E30000;
    font-size: 14px;
    line-height: 20px;
   
}
.hide{
    display: none;
}