html,h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
li{
    list-style-type: none;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
h3{
    font-size: 36px;
    line-height: 46px;
}
.bike-item__img{
    width:250px;
    height: 250px;
    border: 1px solid #CECECE;
}
.content-data{
    display: grid;
    grid-template-columns: 75% 25%;
    margin: auto;
}
#bikeList{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.bike-item{
    width: 370px;
    margin: 30px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.bike-item__name{
    font-size: 18px;
    line-height: 26px;
    margin:20 0 10 0;
}
.bike-item__cost{
    font-size: 16px;
    line-height: 20px;
    margin:0 0 20 0;
}
.button{
    border:none;
    outline:none;
    cursor: pointer;
    background: #3C1491;
    border-radius: 1px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    width: 170px;
    height: 40px;
    box-sizing: border-box;
}
.load{
    display: block;
    margin: 0 auto 40px auto;
}
.points-of-issue{
    margin-left: 20px;
}
.points-of-issue li{
    margin:15px 0 15px 20px;
    font-size: 18px;
    line-height: 26px;
}
.points-of-issue .active{
    margin-left: 0;
}
.points-of-issue .active::before{
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    background: #3C1491;
    border-radius: 5px;
    margin-right: 10px;
}
.points-of-issue__title{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
}