html{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: white;
}
.content-main{
    margin: 80px 0 80px 36px;
    max-width: 65%;
}
body{
    background: url(../images/Rectangle.png);
}
.button{
    border:none;
    outline:none;
    cursor: pointer;
    background: #3C1491;
    border-radius: 1px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    padding: 0 15px;
    height: 40px;
    margin-right: 27px;
    box-sizing: border-box;
}
.title{
    font-size: 48px;
    line-height: 60px;
    margin:20px 0;
}
.description{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.layout{
    background: rgba(22, 0, 69, 0.42);
}