html,h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}
.content-main{
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0;
}
.title{
    font-size: 36px;
    line-height: 46px;
    font-style: normal;
    font-weight: normal;
    margin:40px 0;
}
.title-block{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.login{
    font-size: 24px;
    line-height: 34px;
    margin-left: 30px;
    color: #B0B0B0;
    margin:40px 0 40px 30px;
}
.user-data{
    display: flex;
    flex-direction: row;
    margin:20px 0;
}
.rented-bikes{
    width: 800px;
}
.bike-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.bike-item__img{
    width:250px;
    height: 250px;
    border: 1px solid #CECECE;
}
.bike-item__information{
    margin-left: 50px;
}
.bike-item__title{
    margin: 15px 0;
    font-size: 24px;
    line-height: 30px;
}
.bike-item__time,.bike-item__cost{
    margin: 5px 0;
    font-size: 16px;
    line-height: 20px;
}
.card-information{
    width:370px;
    border: 1px solid #CECECE;
    height: min-content;
}
.card-information__title{
    font-size: 24px;
    line-height: 30px;
    margin: 5px 0 20px 0;
    padding: 15px 30px;
    border-bottom:1px solid #CECECE;
}
.empty-order-list-message{
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 20px 0;
}
.button{
    border:none;
    outline:none;
    margin: 10px 0 20px 0;
    padding: 0 15px;
    width: 130px;
    cursor: pointer;
    background: #3C1491;
    border-radius: 1px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    height: 40px;
    box-sizing: border-box;
}
.change-card-req{
    margin: 20px 30px 30px 30px;
}
.card-information__num,.card-information__date, .empty-card{
    font-size: 18px;
    line-height: 26px;
    margin:5px 30px 0 30px ;
}
.card-information__num{
    font-weight: 500;
    margin-top: 0;
}