html{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.content-main{
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}
.title{
    font-size: 36px;
    line-height: 46px;
    margin:40px 0;
}
#map{
    min-height: 600px;
}