html,h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}
.content-main{
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0;
}
.order-block{
    display: flex;
    direction: row;
}
.order-info{
    margin-left: 50px;
}
.order-info__title{
    font-size: 24px;
    line-height: 30px;
    margin:15px 0 35px 0;
}
.order-info__description{
    margin:15px 0;
    font-size: 18px;
    line-height: 26px;
}
.order-info__code{
    margin-top: 0;
    font-size: 48px;
    line-height: 60px;
}
.title{
    font-size: 36px;
    line-height: 46px;
    margin:40px 0;
}
.bike-item__img{
    border: 1px solid #CECECE;
    width:250px;
    height: 250px;
}