html,h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}
.registration-block{
    margin: 60px auto;
    width: 370px;
}
.registration{
    margin-top:40px;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 36px;
    line-height: 46px;
    margin: auto;
    width: min-content;
}
.registration-input{
    width: 370px;
    border: 1px solid #CECECE;
    font-size: 24px;
    line-height: 28px;
    height: 40px;
    margin-bottom: 20px;
}
label{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
}
.button{
    border:none;
    outline:none;
    cursor: pointer;
    box-sizing: border-box;
    background: #3C1491;
    border-radius: 1px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    padding: 0 15px;
    height: 40px;
}
.registration-btn{
    margin-right: 15px;
}
.login{
    text-decoration: none;
    display: inline-block;
    color: #0000FF;
    font-size: 16px;
    line-height: 20px;
}
.registration-err{
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 20px 0;
    color: #E30000;
}
