<link rel="stylesheet" href="/styles/card-requisites.css">
{{> header}}
<form class="card-info__wrap">
    <h3 class='card-info__title'>Реквизиты карты</h3>
    <div class='card-info__input-block'>
        <p class='card-info__input-title'>Номер карты</p>
        <div class='input-wrapper'>
            <input class='card-info__input' data-type='number' />
            <div class='input-error__wrap hide'>
                <div class='input-error__block'>
                    <p class='input-error__message'></p>
                </div>
            </div>
        </div>
    </div>
    <div class='card-info__input-block'>
        <p class='card-info__input-title'>Срок действия</p>
        <div class='input-wrapper'>
            <input class='card-info__input' data-type='date' />
            <div class='input-error__wrap hide'>
                <div class='input-error__block'>
                    <p class='input-error__message'></p>
                </div>
            </div>
        </div>
    </div>
    <div class='card-info__input-block'>
        <p class='card-info__input-title'>CVV</p>

        <div class='input-wrapper'>
            <input class='card-info__input' data-type='cvv' />
            <div class='input-error__wrap hide'>
                <div class='input-error__block'>
                    <p class='input-error__message'></p>
                </div>
            </div>
        </div>

    </div>
    <button class='card-info__save button' type="submit">Сохранить</button>
</form>
{{> footer}}
<script src='../js/card-requisites.js'></script>