<link rel="stylesheet" href="/styles/catalog.css">
{{> header}}
<div class='content'>
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголоввок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->
  {{#pointInfo}}<h3>Каталог велосипедов по адресу {{address}}</h3>{{/pointInfo}}
  {{^pointInfo}}<h3>Каталог велосипедов</h3>{{/pointInfo}}

  <div class='content-data'>
    <div id="bikeList">
      <!-- Здесь необходимо отобразить карточки велосипедов -->
    </div>
    <div class='points-of-issue'>
      <p class='points-of-issue__title'>Пункты выдачи</p>
      <ul>
        <!--
          
          При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
          <li><a href="/catalog/ID пункта">Адрес пункта</a></li>
          А если у пункта есть флаг isActive, то в списке пометить его
          <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
        -->
        {{#pointersList}}
          {{#isActive}}
            <li class="active" ><a href="/catalog/{{_id}}">{{address}}</a></li>
          {{/isActive}}
          {{^isActive}}
            <li><a href="/catalog/{{_id}}">{{address}}</a></li>
          {{/isActive}}
        {{/pointersList}}
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden">
    <button class='button load' type="button">Загрузить ещё</button>
  </div>

</div>
{{> footer}}

<script src='../js/api.js'></script>
<script src='../js/catalog.js'></script>