<link rel="stylesheet" href="../styles/index.css">
{{> header}}
<div class='content-main'>
  <p class='title'>Сервис аренды <br/>велосипедов</p>
  <p class='description'>Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Esse blanditiis illo aperiam
    voluptatibus at nobis impedit illum deserunt vero commodi
    voluptate optio excepturi quidem nostrum laboriosam
    hic quas voluptas, ut!</p>
  <div class='buttons-wrapper'>
    <button class='button rent' onclick='location.href="/catalog"'>Арендовать велосипед</button>
    <button class='button find' onclick='location.href="/map"'>Найти пункт выдачи</button>
  </div>
</div>
{{> footer}}