<link rel="stylesheet" href="/styles/lk.css">
{{> header}}
<div class='content-main'>
    <div class='title-block'>
        <h3 class='title'>Личный кабинет</h3>
        <p class='login'>{{login}}</p>
    </div>
    <div class='user-data'>
        <div class='rented-bikes'>
            {{#orderList}}
            <div class='bike-item'>
                {{#bike}}
                <img class='bike-item__img' src='../images/{{img}}' />
                {{/bike}}
                <div class='bike-item__information'>
                    {{#bike}}
                    <p class='bike-item__title'>{{name}}</p>
                    {{/bike}}
                    <p class='bike-item__time'>Прошло времени - {{formatTotalTime}}</p>
                    <p class='bike-item__cost'>Стоимость - {{totalCost}} ₽</p>
                    <button class='button return' data-order-id='{{_id}}'> Вернуть</button>
                </div>
            </div>
            {{/orderList}}
            {{^orderList}}
            <p class='empty-order-list-message'>Нет арендованных велосипедов</p>
            {{/orderList}}
        </div>
        <div class='card-information'>
            <p class='card-information__title'>Реквизиты карты</p>
            {{#cardRequisites}}
            <p class='card-information__num'>{{number}}</p>
            <p class='card-information__date'>{{date}}</p>
            {{/cardRequisites}}
            {{^cardRequisites}}
                <p class='empty-card'>Нет данных</p>
            {{/cardRequisites}}
            <button class='button change-card-req' onclick='document.location="/card-requisites"'>Изменить</button>
        </div>
    </div>
</div>
{{> footer}}
<script src='../js/api.js'></script>
<script src='../js/lk.js'></script>