{{> header}}
<link rel="stylesheet" href="../styles/login.css">
<div class='authorization-block'>
	<h3 class='title'>Вход</h3>
	<form class='authorization' method="post">
		<label for="login">Логин</label>
		<input type="text" class="authorization-input" id="login" name="login" value="{{ login }}">

		<label for="password">Пароль</label>
		<input type="password" class="authorization-input" id="password" name="password">

		{{#isLoginError}}
		<p class='login-err'>
			Неверные логин или пароль
		</p>
		{{/isLoginError}}
		<div>
			<button class='button login' type="submit">Войти</button>
			<a class='registration' href="/registration">или зарегистрироваться</a>
		</div>
</div>
</form>
{{> footer}}