<link rel="stylesheet" href="../styles/map.css">
<script src="https://api-maps.yandex.ru/2.1/?apikey=3711abe2-2869-4ad8-973e-b67cf278e35a&lang=ru_RU" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
{{> header}}
<div class='content-main'>
    <p class='title'>Пункты выдачи</p>
    <div id="map"></div>
</div>
{{> footer}}
<script src='../js/api.js'></script>
<script src='../js/map.js'></script>
