<link rel="stylesheet" href="/styles/order.css">
{{> header}}
<div class='content-main'>
    <h3 class='title'>Аренда вилосипеда</h3>
    <div class='order-block'>
        {{#bikeInfo}}
        <img class='bike-item__img' class='bike-item__img' src='../images/{{img}}' />
        {{/bikeInfo}}
        <div class='order-info'>
            {{#bikeInfo}}
            <p class='order-info__title'>{{name}}</p>
            {{/bikeInfo}}
            <p class='order-info__description'>Чтобы забрать велосипед, введите код</p>
            <p class='order-info__code'>{{orderCode}}</p>
        </div>
    </div>
</div>
{{> footer}}