{{> header}}
<link rel="stylesheet" href="../styles/registration.css">
<div class='registration-block'>
	<h3 class='title'>Регистрация</h3>
	<form class='registration' method="post">
		<label for="login">Логин</label>
		<input type="text" class="registration-input" id="login" name="login" value="{{ login }}">

		<label for="password1">Пароль</label>
		<input type="password" class="registration-input" id="password1" name="password1">

		<label for="password2">Повторите пароль</label>
		<input type="password" class="registration-input" id="password2" name="password2">
		{{#notEqualPasswordsError}}
		<p class='registration-err'>
			Пароли не совпадают
		</p>
		{{/notEqualPasswordsError}}
		{{#isEmptyValuesError}}
		<p class='registration-err'>
			Заполните все поля
		</p>
		{{/isEmptyValuesError}}
		<div>
			<button class='button registration-btn' type="submit">Зарегистрироваться</button>
			<a class='login' href="/login">или войти</a>
		</div>
	</form>
</div>
{{> footer}}